<div style="margin-top: 200px; height: 250px; width: 100%;" class="footer">
    <div style="position: absolute; margin-top: 100px; left: 50%; transform: translate(-50%);height: 150px; width: 100%;border-top: 1px solid black;text-align: center;">
        <h5>
            <br><br>대표   신재윤 | 사업자  등록번호 202210642   |  주소 경기도 군포시 한세로 30 한세대학교<br><br>고객센터  010 4691 5426   | 개인정보보호 책임자   신재윤<br><br>가입약관 | 개인정보처리방침
        </h5>
    </div>
</div>