<header>
<div class="header">
    <nav style=" z-index: 5;position: fixed;top: 0;width: 100%;height: 80px;background-color: white;">
        <a href="/shop.html"> 
            <img src="/images/shop.png"  style="height:40px; margin-top:45px; margin-left: 2%; float:left;">
        </a>
        <a href="/about.html"> 
            <img src="/images/about.png"  style="height:60px; margin-top:43px; margin-left: 1%; float:left;">
        </a>
        <a href="/main.html"> 
            <img src="/images/logo.png"  style="height:50px; margin-top:20px; margin-left: 34%; float:left;">
        </a>
        <a href="/mypage"> 
            <img src="/images/user.png"  style="height:30px; margin-top:33px; margin-right: 2%; float:right;">
        </a>
        <a href="/cart"> 
            <img src="/images/market.png"  style="height:40px; margin-top:33px; margin-right: 1%; float:right;">
        </a>
    </nav>
</div>
</header>